@model SmartHomeDemo.Models.HomeViewModel

<div class="jumbotron">
    <h1>Hello, @Model.UserName. <br>Welcome to SmartHomeDemo!</h1>
</div>
<div class="MainContent">
    @Html.ActionLink("Smart home devices", "Index", "Device")
</div>
